.contact-us-page-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
}

.contact-us-page-container {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  margin: auto;
  /* Customize background-color and text color */
  /* background-color: var(--primary-color); */
  color: var(--color);
}

.contact-us-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  column-gap: 10%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-us-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 22px 40px;
}

.contact-us-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-us-form-container fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  /* Customize border color and padding */
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contact-us-form-container legend {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.contact-us-form-container label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.contact-us-form-container textarea {
  width: 100%;
  padding: 16.5px 14px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #444;
  font-size: 1.1rem;
}

.contact-us-form-container textarea:focus {
  outline: 2px solid var(--secondary-color);
}

.contact-us-form-container textarea {
  height: 150px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.contact-us-page-submit-button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.contact-us-page-submit-button:hover {
  background-color: var(--color);
  color: var(--secondary-color);
}

.contact-us-form-submit-btn {
  width: 100%;
}

.contact-us-page-left-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  row-gap: 50px;
}

.why-reach-out-section {
  margin-top: 25px;
  margin-right: 5px;
}
.why-reach-out-section h2 {
  font-size: 1.8rem;
  margin-bottom: 14px;
}

.why-reach-out-section h3 {
  /* font-size: 1.4rem; */
  margin-bottom: 14px;
}
.why-reach-out-section li {
  /* list-style: none; */
  font-size: 1.1rem;
  line-height: 1.5;
}

.get-in-touch-section {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding: 60px 20px; */
}

.get-in-touch-section h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 20px;
}

.get-in-touch-section-icons {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}

.get-in-touch-section span {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 5px;
  margin-bottom: 20px;
}

.get-in-touch-section span i {
  font-size: 1.8rem;
}

.get-in-touch-section span:not(:last-child) i {
  margin-right: 10px;
}

.get-in-touch-section a {
  display: flex;
  color: var(--primary-color);
  text-decoration: none;
}

.get-in-touch-section a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  .contact-us-page-container {
    min-height: auto;
    max-width: 90%;
  }

  .contact-us-container {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contact-us-form-container {
    padding: 0 20px;
  }

  .contact-us-form-container form {
    margin-bottom: 20px;
  }

  .contact-us-page-submit-button {
    margin-right: 0;
  }

  .get-in-touch-section h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .get-in-touch-section-icons {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    justify-content: center;
  }
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .contact-us-container {
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
  }
}

/* Desktop styles */
/* @media only screen and (min-width: 901px) {
  .contact-us-container {
    flex-direction: row;
  }
} */

.error-message {
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: 700;
}

.main-hero-section-contact {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-hero-section-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Specify background image URL and customize background properties */
  /* background-image: url("../../assets/images/your-image.jpg"); */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: brightness(50%);
}

.main-hero-section-contact h2 {
  font-size: 3rem;
  color: var(--secondary-color);
}
