.unauthorized-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.unauthorized-image {
  width: 200px;
  margin-bottom: 20px;
}

.unauthorized-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.unauthorized-message {
  font-size: 16px;
  margin-bottom: 10px;
}

.unauthorized-description {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
}

.unauthorized-button {
  margin-top: 20px;
  font-weight: bold;
}
