.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 20px;
  color: var(--color);
  height: 100px;
  opacity: 0;
  animation: header-fadeIn 2s ease-in-out forwards;
  box-shadow: 2px 2px 6px #00000055;
}

.header-logo {
  width: 80%;
  height: auto;
}

.header-nav-container {
  display: flex;
  align-items: center;
  /* width: 55%; */
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-list li {
  margin-right: 25px;
}

.header-nav-list li:nth-last-child(2){
  width: 99px;
}

.header-nav-list li:last-child {
  margin-right: 1rem;
  width: 196px;
}

.header-nav-list a {
  color: var(--color);
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
  position: relative;
}

.header-nav-list a:hover {
  color: var(--accent-color);
  /* text-shadow: 2px 2px 4px var(--accent-color); */
}

.header-nav-list a.active {
  border-bottom: 2px solid var(--color2); /* Adjust the color and thickness as needed */
  padding-bottom: 4px;
}

.header-login-button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  display: block;
  width: 80px;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.header-logout-button {
  background-color: var(--color2);
  color: var(--secondary-color);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.header-login-button:hover {
  background-color: #038662;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.header-logout-button:hover {
  background-color: var(--color);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.header-login-button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  animation: header-moveDown 0.2s linear;
}

.header-logout-button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  animation: header-moveDown 0.2s linear;
}

.header-login-button-container {
  position: relative;
  display: inline-block;
}

.header-login-button-container:active .header-login-button {
  animation: header-moveDown 0.2s linear;
}

@keyframes header-fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* toggle menu  */
.toggle-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  z-index: 9999999;
  /* display: none; */
}

@media screen and (max-width: 768px) {
  .toggle-menu {
    display: block;
  }
  
  .header {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70%;
    /* background-color: blue; */

    flex-direction: column;
    align-items: flex-start;
    z-index: 9999999999999;
  }
  .header-nav-list {
    flex-direction: column;
    gap: 2rem;
  }
  .header-logo-container {
    width: 200px;
    height: 50px;
  }
  .header-logo-container img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }
  .header-login-button-container {
    width: unset;
    height: unset;
  }
  .header-collapsed {
    transform: translateX(-150%) !important; 
  }
}
