.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 20px;
  color: var(--color);
  height: 100px;
}

.header-logo {
  width: 80%;
  height: auto;
}

.header-nav-container {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-list li {
  margin-right: 25px;
}

.header-nav-list li:last-child {
  margin-right: 0;
}

.header-nav-list a {
  color: var(--color);
  text-decoration: none;
  font-size: 20px; 
  transition: color 0.3s ease;
  position: relative;
}

.header-nav-list a:hover {
  color: var(--accent-color); 
  text-shadow: 2px 2px 4px var(--accent-color);
}

.header-nav-list a.active {
  border-bottom: 2px solid var(--color2); /* Adjust the color and thickness as needed */
  padding-bottom: 4px;
}

.header-login-button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.header-login-button:hover {
  background-color: #038662;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.header-login-button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  animation: header-moveDown 0.2s linear;
}

.header-login-button-container {
  position: relative;
  display: inline-block;
}

.header-login-button-container:active .header-login-button {
  animation: header-moveDown 0.2s linear;
}

@keyframes header-fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header {
  opacity: 0;
  animation: header-fadeIn 2s ease-in-out forwards;
}